{% extends "index.twig" %}

{% block header %}
    <div class="header">
        <a href="/" class="header__btn"><- На главную</a>
    </div>
{% endblock %}

{% block content %}
    <div class="error">
        <div class="hit-the-floor">404 <br> file not found</div>
    </div>
{% endblock %}