{% extends "index.twig" %}

{% block header %}
    <div class="header">
        <h2>{{ context }}</h2>
    </div>
{% endblock %}

{% block content %}
    <form class="form" action="" method="post" enctype="multipart/form-data">
        <input class="form__input" type="file" name="file[]" multiple>
        <button class="form__btn" type="submit">Save</button>
    </form>
{% endblock %}