{% extends "index.twig" %}

{% block header %}
    <div class="header">
        <h2>{{ user.name }}</h2>
        {% if auth %}
            <button class="files__btn" data-id="{{ user.id }}">Add files</button>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="files">
        <ul class="files__list">
            {% for file in context %}
                <li class="files__item">
                    <img src="/images/files/{{ file.file_name }}" alt="file" class="files__img">
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}