.wrapper {
    font-family: 'Roboto', sans-serif;
}

h2, h3 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;
    line-height: 1.8;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.header {
    height: 40px;
    padding: 5px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.header__order {
    cursor: pointer;
}

.start {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__btn {
    width: 200px;
    height: 100px;
    margin: 5px;
    text-align: center;
    line-height: 100px;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px;
    transition: .3s background-color ease, .3s color ease;
}

.start__btn:hover {
    background: rgba(0, 0, 0, .5);
    color: rgba(255, 255, 255, .5)
}

.start__btn:active {
    box-shadow: inset 0 0 7px #b1b1b1;
}

.hidden {
    display: none;
}

.user__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.user__item {
    position: relative;
    list-style-type: none;
    width: 250px;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s background-color ease;
    margin-bottom: 5px;
    margin-right: 5px;
}

.user__item:hover {
    background: #d3d3d3;
}

.user__idx {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: .7rem;
}

.user__img {
    position: relative;
    width: 70px;
    height: 70px;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background: #ffffff;
}

.user__pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 66px;
    height: 66px;
    border-radius: 50%;
    overflow: hidden;
    background: no-repeat center;
    background-size: contain;
}

.user__age {
    font-weight: normal;
    font-size: 16px;
}

.user__minor {
    font-size: .9rem;
    font-weight: bold;
    font-style: italic;
}

.form {
    width: 300px;
}

.form__input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    outline: none;
    resize: none;
}

.form__btn,
.header__btn,
.files__btn {
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: #0c94cc;
    outline: none;
    padding: 5px 15px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.form__btn:hover,
.header__btn:hover,
.files__btn:hover {
    background: #0ca4dc;
}

.form__btn:active,
.header__btn:active,
.files__btn:active {
    box-shadow: inset 0 0 5px #5e5e5e;
}

.files__list {
    /*display: flex;*/
    /*justify-content: flex-start;*/
    /*flex-wrap: wrap;*/
    margin: 0;
    padding: 0;
}

.files__item {
    display: inline-block;
    float: left;
    list-style-type: none;
    width: 250px;
    margin: 7px;
    padding: 3px;
    border: 1px solid #ccc;
}

.files__img {
    width: 100%;
    height: auto;
}

.error {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hit-the-floor {
    color: #fff;
    font-size: 10em;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}